<!--Ajouter un profil-->

<div class="col-sm-8 col-sm-offset-2" style="margin-left: 15%; margin-top: 3%" *ngIf="Mode() == 5">
  <div class="dropdown-menu-dark">
    <form class="px-4 py-3 was-validated" (ngSubmit)="onSaveProfil(f.value)" #f = "ngForm">
      <fieldset>
        <legend>Nouveau profil</legend>
        <div class="mb-3">
          <label for="nomProfil" class="form-label">Nom<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="nomProfil" name="nomProfil" placeholder="Developpeur" ngModel required>
        </div>
        <div class="mb-3">
          <label for="descripProfil" class="form-label">Description<span class="text-danger">*</span></label>
          <!--<input type="text" class="form-control" id="descripRole" name="descripRole" ngModel required>-->
          <textarea class="form-control" id="descripProfil" rows="3" name="descripProfil" ngModel required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-space" [disabled]="f.invalid"><i class="bi bi-box-arrow-in-right" style="margin-right: 5px"></i>Ajouter</button>
      </fieldset>
    </form>
  </div>
</div>


<!--Consulter les Profils-->

<div class="table-responsive" *ngIf="Mode() == 4">
  <table class="table">
    <thead class="table-light">
    <tr align="center">
      <th>Liste des Profils</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center">
      <td><button class="btn btn-primary" (click)="onGetProfils()">Profils</button></td>
    </tr>
    </tbody>
    <table *ngIf="profils" class="table table-dark table-hover align-middle">
      <thead>
      <tr align="center" >
        <th> NOM </th>
        <th> Description</th>
        <th *ngIf="getAccess()"> Action </th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of profils._embedded.profils ">
        <td>{{p.nomProfil}}</td>
        <td>{{p.descripProfil}}</td>
        <td *ngIf="getAccess()"><button class="btn btn-primary btn-sm space" (click)="onEditProfil(p)">Modifier</button> <button class="btn btn-danger btn-sm space" (click)="onDeleteProfil(p)">Supprimer</button></td>
      </tr>
      </tbody>
    </table>
  </table>
</div>
