<div class="col-md-12">
    <div class="card card-container">
      <form class="px-4 py-3 was-validated" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
          <fieldset>
              <legend>Formulaire de connexion</legend>
            <div class="alert alert-danger text-center" style="color: red" *ngIf="getErrorMessage()">
              <p>
                {{getErrorMessage()}}
              </p>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Rod20" ngModel required minlength="4" >
                <div class="invalid-feedback">
                  Name must be at least 4 characters long.
                </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required minlength="4">
              <div class="invalid-feedback">
                Password must be at least 4 characters long.
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-space" [disabled]="f.invalid"><i class="bi bi-box-arrow-in-right" style="margin-right: 5px"></i>Connecter</button>
          </fieldset>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Nouveau par ici? Creer Compte</a>
      <a class="dropdown-item" href="#">Mot de passe oublié?</a>
    </div>
</div>
