/*.btn-space{
  margin-right: 2px;
}
#sidebar{
  height: 100%;
  position: absolute;

}
.main{
  position: relative;
}
.dropdown{
  margin-top: 85px;
}
.l1{
  margin-bottom: -75px;
}
.l2{
  margin-bottom: 140px;
}*/


/*
.dis{
  display: inline-table;
}
*/
