<!--
<header class="bg-dark py-3 row-" style="margin-right: -17.9%">
  <div class="container bi-text-left" style="margin-left: 235px">
    <a href="#" class="ms-auto link-light" ><span><span>Créer un compte</span></span></a>
  </div>
</header>

  <div class=" container-fluid " style="height: 100%" id="sidebar">
    <div class="row" style="height: 100%" >
      <aside class=" p-3 text-white bg-dark" style="width: 263px;height: 100%">
          <span class="fs-4">Gestion des stagiaires</span>
        <hr>
        <span class="text-danger" *ngIf="!change()">
            Non Connecté
        </span>
        <span class="text-success" *ngIf="change()">
            Connecté
        </span>
        <hr>
        <nav class="navbar navbar-expand">
          <div class="navbar-collapse">
            <ul class="flex-column navbar-nav w-100  nav-pills">
              <li class="nav-item">
                <a routerLinkActive="active link" routerLink="/home" class="nav-link text-white" >
                  <i class="bi-house btn-space"></i>
                  Home
                </a>
              </li>
              <li>
                <a routerLinkActive="active link" routerLink="/dashboard" class="nav-link text-white">
                  <i class="bi bi-speedometer2 btn-space"></i>
                  Dashboard
                </a>
              </li>
              <li>
                <a  routerLink="/Orders" class="nav-link text-white">
                  <i class="bi bi-table btn-space"></i>
                  Orders
                </a>
              </li>
              <li>
                <a  routerLink="/Customers" class="nav-link text-white" >
                  <i class="bi bi-person-circle btn-space"></i>
                  Customers
                </a>
              </li>
              <li class="l2">
                <a routerLinkActive="active link" routerLink="/login" class="nav-link text-white" *ngIf="!change()" >
                  <i class="bi bi-power btn-space"></i>
                  Connexion
                </a>
                &lt;!&ndash;<a routerLink="/login" class="nav-link text-white" *ngIf="change()">
                  <i class="bi bi-power btn-space"></i>
                  Déconnexion
                </a>&ndash;&gt;
                <button class="btn btn-danger" *ngIf="change()" (click)="changeLink()"><i class="bi bi-power btn-space"></i>Déconnexion</button>
              </li>
            </ul>
          </div>
        </nav>
        <hr class="l1">
        <div class="dropdown">
          <strong>Copyright © 2022 Rodrigue.</strong>
        </div>
      </aside>
      &lt;!&ndash;class="col-md-10" style="margin-left: 20%; margin-top: -35%"&ndash;&gt;
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>-->
<!-- navbar links -->
<div class="row">
      <div class="container-fluid">
            <div class="row flex-nowrap">
              <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                  <span class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Gestion Stagiaire</span>
                  </span>
                  <hr>
                  <span class="text-danger" *ngIf="!change()">
                      Non Connecté
                  </span>
                  <span class="text-success" *ngIf="change()">
                      Connecté
                  </span>
                  <hr>
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                      <a routerLinkActive="active link" routerLink="/home" class="nav-link align-middle px-0" (click)="getHome()">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                    </li>
                    <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                          <a  routerLink="/user" class="nav-link px-0" (click)="changemodeConsulter()"> <span class="d-none d-sm-inline">Consulter</span></a>
                        </li>
                        <li>
                          <a  routerLink="/user" class="nav-link px-0" (click)="changemodeAjouter()"> <span class="d-none d-sm-inline">Ajouter</span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Role</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                        <li class="w-100">
                          <a routerLink="/role" class="nav-link px-0" (click)="roleConsult()"> <span class="d-none d-sm-inline">Consulter</span></a>
                        </li>
                        <li>
                          <a routerLink="/role" class="nav-link px-0" (click)="roleAjout()"> <span class="d-none d-sm-inline">Ajouter</span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Profil</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                        <li class="w-100">
                          <a routerLink="/profil" class="nav-link px-0" (click)="profilConsult()"> <span class="d-none d-sm-inline">Consulter</span></a>
                        </li>
                        <li>
                          <a routerLink="/profil" class="nav-link px-0" (click)="profilAjout()"> <span class="d-none d-sm-inline">Ajouter</span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                        <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Departement</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                        <li class="w-100">
                          <a routerLink="/departement" class="nav-link px-0" (click)="departementConsult()"> <span class="d-none d-sm-inline">Consulter</span></a>
                        </li>
                        <li>
                          <a routerLink="/departement" class="nav-link px-0" (click)="departementAjout()"> <span class="d-none d-sm-inline">Ajouter</span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                        <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                        </li>
                        <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                        </li>
                        <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                        </li>
                        <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="nav-link px-0 align-middle t">
                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                    </li>
                    <li>
                      <a routerLinkActive="active link" routerLink="/login" class="nav-link px-0 align-middle" *ngIf="!change()" >
                        <i class="bi bi-power btn-space"></i>
                        <span class="ms-1 d-none d-sm-inline">Connexion</span>
                      </a>
                      <button class="btn btn-danger" *ngIf="change()" (click)="changeLink()" ><i class="bi bi-power btn-space"></i>
                        <span class="ms-1 d-none d-sm-inline">Déconnexion</span>
                      </button>
                    </li>
                  </ul>
                  <hr>
                  <div class="dropdown pb-4">
                    <strong>Copyright © 2022</strong>
                  </div>
                </div>
              </div>
                  <div style="padding: 0;" class="col-10">


                      <!-- Top navbar -->
                          <nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-end">
                            <a class="navbar-brand text-white justify-content-end" style="margin-left: 90%;margin-bottom: 5px"><h2>{{pageCourante}}</h2></a>
                            <!-- navbar links -->
                          </nav>
                          <div class="col py-3" style="padding-left: 1%">
                            <router-outlet></router-outlet>
                          </div>
                    </div>
              </div>
      </div>
</div>
