<div class="col-md-12" style="margin-left: 19%; margin-top: -45.8%">
<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
      <tr align="center">
        <th>Liste des utilisateurs</th>
      </tr>
    </thead>
    <tbody>
    <tr align="center">
      <td><button class="btn btn-primary" (click)="onGetUser()">Utilisateurs</button></td>
    </tr>
    <tr align="center">
      <td>
        <form (ngSubmit)="onCherhcer(f)" #f="ngForm">
          <div >
            <label style="margin: 5px">keyword</label>
            <input type="text" name="keyword" ngModel>
            <button type="submit" class="btn btn-primary" style="margin: 5px">Chercher</button>
          </div>
        </form>
      </td>
    </tr>
    </tbody>
      <table *ngIf="users" class="table table-dark table-hover align-middle">
      <thead>
          <tr align="center" >
            <th> NOM </th>
            <th> PRENOM </th>
            <th> MATRICULE </th>
            <th> EMAIL </th>
            <th> Departement </th>
            <th> Role </th>
            <th> Profil </th>
            <th> Nom d'utilisateur </th>
            <th> Action </th>
                <!--<th> ID </th> <th> NOM </th>  <th> Description </th>-->
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let u of users ">
            <td>{{u.nom}}</td>
            <td>{{u.prenom}}</td>
            <td>{{u.matricule}}</td>
            <td>{{u.email}}</td>
            <td>{{u.dpt.nomDpt}}</td>
            <td>{{u.role.nomRole}}</td>
            <td>{{u.profil.nomProfil}}</td>
            <td>{{u.userlog}}</td>
            <td><button class="btn btn-primary btn-sm space">Modifier</button> <button class="btn btn-danger btn-sm" (click)="onDelete(u)">Supprimer</button></td>
          </tr>
      </tbody>
      </table>
  </table>
  <!--<ul *ngIf="pages" class="nav nav-pills " style="margin: 10px">
    <li [ngClass]="i==currentPage?'active-link':''" *ngFor="let p of pages; let i = index" style="margin: 10px">
        <a (click)="onPageUser(i)">{{i}}</a>
    </li>
  </ul>-->
  <nav *ngIf="pages" aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="clickable" *ngFor="let p of pages; let i = index" [ngClass]="i==currentPage?'page-item active':''" >
        <a class="page-link" (click)="onPageUser(i)">{{i}}</a>
      </li>

    </ul>
  </nav>
</div>
</div>
